
    <div style="background-color: aquamarine ; margin-left: 0px; width: 100px; height: 180px; padding: 20px; margin-bottom: 5px">
    <a href="/">Index</a><br />
    <a href="/about">About</a><br />
    <a href="/help">Help</a><br />
    <a href="/weather">Weather</a><br />
    </div>