<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>About</title>
</head>

<body style="background-color: bisque">
    {{>header}}
    <div class="row">
        <div class="col-md-4">
            {{>sidebar}}
        </div>
        <div class="col-md-4">
            <h2>About web servers</h2>
                <p>JSON Data =>
    <a class="btn btn-primary btn-lg" href="/json" role="button">JSON Data</a></p>
            </div>
        <div class="col-md-4">
            <img src="./images/7_avatar-512.png" alt="idk" height="180px" width="200px">
        </div>
    </div>
    {{>footer}}
</body>

</html>